body {
  background-image: url(./1.jpg);
  font-family:'Courier New', Courier, monospace
}
h1{
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}

.estblished {
  text-align: center;
  font-style: italic; 
}

.menu {
  background-color: rgb(29, 26, 26);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: aliceblue;
  max-width: 500px;
}

.flavor{
  text-align: left;
  width: 50%;
}
.price{
  text-align: right;
  width: 50%;
}

.item p {
  display: inline-block;
  font-size: 15px;
}

img{
  display: block;
  width: 20%;
  /* height: 5%; */
  margin-left: auto;
  margin-right: auto;

}

.section1 h2{
  margin-bottom: 10px;
}

.section2 h2{
  margin-bottom: 10px;
  margin-top: 12px;
}

hr{
  height: 2px;
  background-color: rgb(27, 24, 24);
  border-color: rgb(27, 25, 25);
}
.uppper-line {
  /* height: 10px; */
  width: 14px;
}

footer {
  text-align: center;
}

.address{
  text-align: center;
  margin-bottom: 5px;
}

a {
  color:rgb(40, 223, 223);
}

a:hover {
  color: rgb(209, 15, 199);
}

a:visited {
  color: rgb(209, 15, 199);
}

a:active {
  color: rgb(0, 243, 223);
}
